body {
  background: whitesmoke;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  color: black;
  padding-left: 10%;
}
h2 {
  color: blue;
  padding-left: 10%;
}

.fa-solid {
  color: black;
  text-align: right;
  font-size: 1.5em;
}

.container > div {
  width: 100%;
  box-sizing: border-box;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table {
  width: 95%;
  border-left-width: 5em;
  border-right-width: 5em;
}
.container:hover {
  color: black;
  cursor: pointer;
}
img:hover {
  width: 80%;
}
