body {
  background: whitesmoke;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  color: black;
  padding-left: 10%;
}
h2 {
  color: blue;
  padding-left: 10%;
}

.fa-solid {
  color: black;
  text-align: right;
  font-size: 2em;
}

.container > div {
  width: 100%;
  box-sizing: border-box;
}
meme1 > img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.meme > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
}
table {
  width: 95%;
  border-left-width: 5em;
  border-right-width: 5em;
}
.container:hover {
  cursor: pointer;
}
.container:hover h2 {
  color: black;
  cursor: pointer;
}

.meme:hover img {
  width: 80%;
  transition-duration: 1.5s;
}
.meme:hover .fa-solid {
    transition-duration: 0.5s;
    transform: rotate(45deg);
   }
